@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--Blue: hsl(223, 87%, 63%);
--PaleBlue: hsl(223, 100%, 88%);
--LightRed: hsl(354, 100%, 66%);
--Gray: hsl(0, 0%, 59%);
--VeryDarkBlue: hsl(209, 33%, 12%);
--font-size: 20px;
}

body {
    font-family: 'Libre Franklin', sans-serif;
}

.container {
    margin: 70px 50px 0;
    text-align: center;
    max-width: 800px;
}

.description h1 {
    text-transform: uppercase;
    color: red;
}

.description h2 {
    font-size: 50px;
    color: red;
    font-weight: 300;
    padding: 30px 0 20px;
}

.description h2 span {
    color: black;
    font-weight: 700;
}

.description p {
    margin-bottom: 20px;
}

.description .email {
    display: flex;
    flex-direction: column;
    gap: 13px;

}

.email .input-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    
}

.email .input-field small {
    position: absolute;
    top: 35px;
    left: 2%;
    color: red;
    visibility: hidden;
}

.error > input#email  {
    border: 1px solid red;
}

.success > input#email {
    border: 1px solid var(--PaleBlue);
}
input#email {
    padding: 10px;
    border: 1px solid var(--PaleBlue);
    border-radius: 40px;
    width: 100%;
}
.email button{
    padding: 10px;
    border: none;
    border-radius: 40px;
    background-color: var(red);
    color: #fff;
}

.dashboard {
    margin: 77px 0;
}
.dashboard img {
    width: 100%;
}


.service i {
    padding: 15px;
    border: 1px solid var(--PaleBlue);
    border-radius: 50%;
    margin: 0 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 22px;
    color: var(--Blue);
}